/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/bot.log          640  7  10240  *  JC
/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/bot-error.log    640  7  10240  *  JC
/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/backup.log       640  7  10240  *  JC
/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/backup-error.log 640  7  10240  *  JC
