/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/bot.log          strawberrydreams:staff  640  7  10240  *  JC  /Users/strawberrydreams/coding/discordbot-hsr/runtime/data/.bot.pid        1
/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/bot-error.log    strawberrydreams:staff  640  7  10240  *  JC  /Users/strawberrydreams/coding/discordbot-hsr/runtime/data/.bot.pid        1
/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/backup.log       strawberrydreams:staff  640  7  10240  *  JC  /Users/strawberrydreams/coding/discordbot-hsr/runtime/backups/.backup.pid  1
/Users/strawberrydreams/coding/discordbot-hsr/runtime/logs/backup-error.log strawberrydreams:staff  640  7  10240  *  JC  /Users/strawberrydreams/coding/discordbot-hsr/runtime/backups/.backup.pid  1
